@import url('https://pro.fontawesome.com/releases/v5.15.3/css/all.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.header{
    background-image: url(../images/Recette02.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

h1{
    color: #FFD15B;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}

.form-control{
   width: 950px;
}

.container_header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section{
  width: 100%s;
  margin: 50px;
}

/* end header */

/* #main{
   
} */

/* filter  */

.filter_section{
    display: flex;
    justify-content: space-between;
    
    
}

.filter_contenaire{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.filter_container_select{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
  
.recipes-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

    }
    .recipes-filter label{
      display: none;
    }

  .recipes-filter select{
    font-size: 18px;
    font-weight: 400;
    border: none;
    min-width: 140px;
    background-color: white;
    color: black;
    appearance: none;
    padding: 0 40px 0 20px;
  }


  .filter-container select::-ms-expand {
    display: none;
  }
   
   option{
    padding: 10px;
    margin-top: 10px;
   }

   option:hover{
    background-color: yellow;
   }
   /* end filter button */

   /* cards recipes */

   .recipes-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    width: 100%;
  }

   .recipe-card {
    margin: 10px;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 3px 8px 2px #e2dcdc;
    /* height: 730px; */
    width: 25%;
  }
  .recipe-card .card-text {
    position: relative;
    padding: 0px 10px 0px 10px;
    margin-top: -15px;
    height: 400px;
  }
  .recipe-card .card-text .title {
    font-weight: bold;
  }
  .recipe-card .card-text p {
    margin-top: 5px;
  }
  
  .recipe-card .card-img {
    position: relative;
    height: 340px;
  }
  .recipe-card .card-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .recipe-card .card-img .card-time {
    position: absolute;
    padding: 0.4rem 0.8rem;
    background: yellow;
    color: black;
    border-radius: 18px;
    opacity: 0.9;
    top: 0.8rem;
    right: 0.8rem;
  }

   /* end cards repes */
